.line {
  flex: 1;
  height: 4px;
  background: var(--black);
}

.cta {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .line {
    display: none;
  }
}
